<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LeaderBoard</title>
  <%- include('partials/style.ejs') %>
    <%- include('partials/configureFirebase') %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <%- include('partials/navbar') %>
    <h1 class="section-header">ARG Leaderboard</h1>
    <br><br>
    <div class="container">
      <table class="table table-striped table-hover table-responsive  text-center">
        <thead class="table-light">
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>ARG Level</th>
          </tr>
        </thead>
        <% leaderboard.forEach(function(player,index){ %>
          <tr class="table-dark">
            <th>
              <%= index+1 %>
            </th>
            <td>
              <%= player.name %>
            </td>
            <td>
              <%= player.arglevel %>
            </td>
          </tr>
          <% }); %>
            </tbody>
      </table>
    </div>
    <!-- <main>
      <div class="container">
        <table class="lb-table">
          <thead>
            <tr class="lb-tr">
              <th class="lb-th">Rank</th>
              <th class="lb-th">Hacker</th>
              <th class="lb-th">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr class="lb-tr">
              <td class="lb-td">1</td>
              <td class="lb-td">Ayden</td>
              <td class="lb-td">Lol</td>
            </tr>
            <tr class="lb-tr">
              <td class="lb-td">1</td>
              <td class="lb-td">Yugansh</td>
              <td class="lb-td">Wins</td>
            </tr>
            <tr class="lb-tr">
              <td class="lb-td">1</td>
              <td class="lb-td">Vibhuti</td>
              <td class="lb-td">Topper</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main> -->
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</html>