<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <%- include('partials/style.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('partials/configureFirebase') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/img/white-cohesion.png" alt="" width="200px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">LeaderBoard</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Discord</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">Challenges</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button
                  class="btn btn-info dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-user-circle-o icon"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Discord</a>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      <h4>
        Email ID: <%= details.email %>
        <br />
        Display Name: <%= details.displayName %>
        <br />
        Institution: <%= details.institutionName%>
      </h4>
    </main>
  </body>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>
